<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <form method="POST" action="/" enctype="multipart/form-data">
      <div class="form-group">
        <label for="file">Upload your photo</label>
        <input name='file' type="file" class="form-control-file" id="file">
      </div>
      <input type="submit" class="btn btn-primary"></input>
    </form>
  </div>
</body>
</html>